body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 66, 66);
    
}
.container{
    text-align: center;
    background: rgb(75, 66, 66);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    
}
#quote{
    font-size: 24px;
    color: #f0f0f0;
    text-decoration: none;
}
.container:hover{
    background-color:#f0f0f0;
    transition: margin-right 2s;   
  


   
}
#quote:hover{
    font-size: 35px;
    color: black;
}
#icon{
    font-size: 30px;
}